<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
</head>
<body ng-controller="MainController"> 
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    <h1>{{ message }}</h1>
    

    <input type="text" ng-model="message"> 
    <p>Ti e ki shkru: {{message}}</p>

    <button ng-click="sayHello()">Click me</button>
    <p>{{greeting}}</p>

    <script src="angular.js"></script>
</body>
</html>